/Beach.hbm.xml
/Facility.hbm.xml
/Patrol.hbm.xml
/Rating.hbm.xml
/Recommandation.hbm.xml
/Reminder.hbm.xml
/Report.hbm.xml
/SharkAlarm.hbm.xml
/Training.hbm.xml
/User.hbm.xml
/action/
/applicationContext.xml
/dao/
/entity/
/login.properties
/service/
/struts.xml
/tide.properties
/weather.properties
